.cart {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;

}

.cart h2 {
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: bold;
    color: #333;
}

/* Header Bar */
.cart-header {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    background: #e8f4ff;
    padding: 12px 15px;
    border-bottom: 2px solid #d0e6f8;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
}

.cart-header span {
    font-size: 14px;
}

/* Placeholder */
.cart-placeholder {
    width: 100%;
    padding: 35px;
    border: 2px dashed #ccc;
    text-align: center;
    color: #777;
    font-style: italic;
    border-radius: 8px;
    margin-top: 20px;
}
