.body {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-title {
    font-size: 32px;
    margin-bottom: 40px;
}

.body-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}
