.header {
    background: #ffcf00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 8px solid #d10a20; /* roter Balken */
    margin: 0;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 80px;
}

.header-left h1 {
    font-size: 60px;
    font-weight: 900;
    color: black;
    text-shadow: 2px 2px white;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-right a {
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    color: blue;
}

.cart {
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 5px;
}
