.product-card {
    background: white;
    width: 260px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-img {
    width: 100%;
    height: 160px;
    object-fit: contain;
}

.btn {
    background: #f7c600;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.btn:hover {
    background: #e0b400;
}
